

:root {
  --primary: #bc4123;
  --secondary: #fff6f6;
}
body {
  margin: 0;
  padding: 0px;
  font-family: Arial;
  background: var(--secondary);
}
* {
  color: #424242e0;
  margin: 0;
  font-family: Arial !important;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 7px;
  border-radius: 4.5px;
  color: rgba(241, 217, 217, 0.959);
  background: var(--primary);
  cursor: pointer;
}

/* CSS FOR NAVBAR ********* CSS FOR NAVBAR ********* CSS FOR NAVBAR ********* CSS FOR NAVBAR *********/

.bortillos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: white;
}

.bortillos-header a {
  text-decoration: none;
  display: inline-block;
  padding: 0px 4px;
}