

:root {
  --primary: #be2222;
  --secondary: #f7f7f7;
}

body {
  margin: 0;
  padding: 0px;
  font-family: Arial;
  background: var(--secondary);
}

* {
  color: #424242e0;
  margin: 0;
  font-family: Arial !important;
}

p {
  margin: 20px 0;
}

button {
  border: 0;
  padding: 10px;
  border-radius: 4.5px;
  color: rgba(255, 255, 255, 0.959);
  background: var(--primary);
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
button:hover {
  box-shadow: 0px 0px 6px 0px #888888;
}
button:active {
  box-shadow: 0px 0px 6px 0px #888888 inset;
  transform: translateY(2px);
}

/* CSS FOR NAVBAR ********* CSS FOR NAVBAR ********* CSS FOR NAVBAR ********* CSS FOR NAVBAR *********/

.bortillos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: white;
}

.bortillos-header a {
  text-decoration: none;
  display: inline-block;
  padding: 0px 4px;
}

.bortillos-header img {
  height: 35px;
  width: 35px;
  padding: 8px;
  border-radius: 6px;
}
.bortillos-header img:hover {
  background-color: rgb(237, 237, 237);
}
.bortillos-header img:active {
  box-shadow: 0px 0px 6px 0px #888888 inset;
  transform: translateY(2px);
}

.bortillos-header i {
  font-size: 30px;
  color: black;
  padding: 10px;
}
.bortillos-header i:hover {
  box-shadow: 0px 0px 4px 0px #888888;
}
.bortillos-header i:active {
  box-shadow: 0px 0px 4px 0px #888888 inset;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

/* HOME COMPONENT ______ HOME COMPONENT ______ HOME COMPONENT ______ */
.home {
  padding: 20px;
}

/* Start Order button */

.home button {
  border-style: solid;
  border-color: rgb(165, 165, 165);
  border-width: 1px;
  padding: 14px;
  border-radius: 4.5px;

  background-color: rgb(243, 243, 243);
  box-shadow: 2px 2px 2px #888888;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
.home button:hover {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 6px 0px #888888;
}
.home button:active {
  box-shadow: 0px 0px 6px 0px #888888 inset;
  background-color: rgb(240, 240, 240);
  transform: translateY(2px);
}

#button_text{
  color: gray;
}
